@* Colocar el model como una List<> *@
@model List<ToyModel>

@{
    ViewData["Title"] = "Lista de Juguetes";
    int numero = 0;
}

<h1>@ViewData["Title"]</h1>
<a class="btn btn-outline-primary" asp-action="ToyAdd" asp-asp-controller="Toy">Agregar juguete</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripción</th>
            <th scope="col">Categoría</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var toyModel in Model)
        {
        {
            numero++;
        }
            <tr>
                <th scope="row">@numero
                </th>
                <td>@toyModel.Name</td>
                <td>@toyModel.Description</td>
                <td>@toyModel.CategoryName</td>
                <td>
                    <a class="btn btn-outline-info" asp-action="ToyEdit" asp-controller="Toy" asp-route-id="@toyModel.Id">Editar</a>
                    <a class="btn btn-outline-danger" asp-action="ToyDeleted" asp-controller="Toy" asp-route-id="@toyModel.Id">Borrar</a>
                </td>
            </tr>

        }
    </tbody>
</table>